<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
      font-family: sans-serif;
    "
  >
    <table
      width="100%"
      cellspacing="0"
      cellpadding="0"
      style="table-layout: fixed; width: 100%; min-width: 600px; margin: 0 auto"
    >
      <tr>
        <td align="center" style="padding: 30px 0">
          <table
            width="500"
            cellspacing="0"
            cellpadding="0"
            style="
              border-collapse: collapse;
              background-color: #ffffff;
              border: 1px solid #ddd;
              border-radius: 8px;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            "
          >
            <tr>
              <td align="center" style="padding: 30px">
                <table width="100%" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="left" style="vertical-align: middle; padding: 0">
                      <img
                        src="https://imageurlbucket.s3.ap-northeast-2.amazonaws.com/logo.png"
                        alt="로고"
                        width="50"
                        style="display: block"
                      />
                      <span
                        style="
                          color: #fe7e37;
                          font-weight: bold;
                          vertical-align: middle;
                          margin-left: 5px;
                        "
                        >구DOCS</span
                      >
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td align="center" style="padding: 0 30px 30px">
                <div
                  style="
                    font-size: 1.2em;
                    line-height: 1.6;
                    margin-bottom: 20px;
                  "
                >
                  ${mailContents}
                </div>
                <a
                  href="google.com"
                  style="
                    display: inline-block;
                    padding: 12px 24px;
                    background-color: #fe7e37;
                    color: white;
                    text-decoration: none;
                    border-radius: 5px;
                  "
                  >구DOCS 사이트로 이동</a
                >
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
